.NavBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.text-decoration-none {
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.text-white {
    color: white;
}

.w-100 {
    width: 100%;
}

.logo {
    font-size: 2rem;
}

.w-90 {
    width: 90%;
}

.border-top {
    border-top: 5px solid white; 
}

.border-white {
    border-color: white;
}

